.main {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 221, 227);
}

.firstStep {
    float: left;
    padding: 0 10px;
    margin-left: 20%;
}

.secondStep {
    float: right;
    padding: 0 10px;
    margin-right: 20%;
}

form, mat-form-field {
    width: 300px;
}

.mat-hint {
    color: red;
}

button {
    width: 50%;
    text-align: center;
}

h3 {
    text-align: center;
}